﻿@model StudtentTracking.Data.Entities.Service

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var schoolName = ViewBag.school;
}

<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Servis Detayı</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="box-body">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.serviceName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.serviceName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.schoolId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => schoolName)
                    </dd> 
                    
                </dl>
            </div>

            <div class="col-md-offset-1 col-md-6">
                <a href="@Url.Action("Edit","Services", new { id = Model.Id })" class="btn btn-primary">Düzenle</a>
                <a href="@Url.Action("Index","Services")" class="btn btn-primary">Listeye Geri Dön</a>

            </div>

        </div>
    </div>
</section>

