﻿@model StudtentTracking.Data.Entities.School

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   

  <!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">

        <div class="box-body table-responsive">
            <h3>Silmek İstediğine Emin Misin?</h3>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.schoolName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.schoolName)
                    </dd>

                   

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sil" class="btn btn-default" /> |
                        <a href="@Url.Action("Index","Schools")" class="btn btn-primary">Listeye Geri Dön</a>
                    </div>
                }
            </div>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
