﻿@model StudtentTracking.Data.Entities.School

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Okul Detayı</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.schoolName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.schoolName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.createdAt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createdAt)
                </dd>



            </dl>
            <div class="col-md-offset-1 col-md-6">
                <a href="@Url.Action("Edit","Schools", new { id = Model.Id })" class="btn btn-primary">Düzenle</a>
                <a href="@Url.Action("Index","Schools")" class="btn btn-primary">Listeye Geri Dön</a>

            </div>

        </div>
    </div>
</section>


