﻿@model IEnumerable<StudtentTracking.Data.Entities.School>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Okullar</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="box-body table-responsive">
            <div class="col-md-8 col-sm-12">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.schoolName)
                        </th>

                        <th>İşlem</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.schoolName)
                            </td>

                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Detaylar", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <!-- /.box-body -->
        <a href="@Url.Action("Create","Schools")" class="btn btn-primary">Yeni Kayıt Oluştur</a>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
