﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<style>
    h1{
        padding:15px;
    }
</style>
<h1 class="text-danger">Hata!</h1>
@if (TempData["error"] != null)
{
    <h2 class="text-danger">@TempData["error"].</h2>
}
else
{
    <h2 class="text-danger">İstek Yürütülürken Bir Sorun Oluştu.</h2>
}

