﻿@model IEnumerable<StudtentTracking.Data.Entities.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header"></section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Kullanıcılar</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
                
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.createdAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.deletedAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.deleted)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.userId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createdAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deletedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deleted)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
        <!-- /.box-body -->
        <a href="@Url.Action("Create","Users")" class="btn btn-primary">Yeni Kayıt Oluştur</a>
    </div>
    <!-- /.box -->
</section>
<!-- /.content -->
